@import "../../varibles.scss";

:host {
	min-height: 600px;
	display: flex;
	align-items: center;
	background-color: $black;
	color: $white;
	font-weight: bold;

	// .welcome {
	// 	position: relative;
	// 	animation-name: example;
	// 	animation-duration: 2s;
	// }

	.hello {
		font-family: 'Allura';
		font-size: 40px;
		height: 32px;
		color: $peach;
	}

	.name {
		font-size: 40px;
		margin-bottom: 16px;
		position: relative;
		animation-name: example;
		animation-duration: 2s;
	}

	button {
		color: $black;
		background-color: $peach;
		margin-top: 16px;
		width: 200px;
		height: 64px;
	}

	.icons {
		i:hover {
			color: $peach;
		}
	}
}

@keyframes example {
	0% {
		left: 40px;
		top: 0px;
	}

	100% {
		left: 0px;
		top: 0px;
	}
}

@keyframes lefttoright {
	0% {
		right: 40px;
		top: 0px;
	}

	100% {
		right: 0px;
		top: 0px;
	}
}