<div class="welcome">
	<div class="hello">Hello I'm</div>
	<div class="name">Rama Jonnada</div>
	<p class="fed">FULL STACK DEVELOPER</p>
	<a href="resume.pdf" download="rama-resume">
		<button type="submit" mat-flat-button>Get Resume <i class="fa-solid fa-download"></i></button>
    </a>
</div>
<div class="icons">
	<a href="https://github.com/ramajonnada"><i class="fa-brands fa-square-github"></i></a>
	<a href="https://www.linkedin.com/in/ramajonnada/"><i class="fa fa-brands fa-linkedin"></i></a>
	<a href="https://www.instagram.com/ramajonnada23/"><i class="fa-brands fa-square-instagram"></i></a>
</div>
