<app-heading [heading]="'Projects'"></app-heading>
<div class="projects">
	<mat-card>
		<div>
			<span>Procim</span>
			<p>Feb 2023 - Feb 2024</p>
			<hr class="line" />
		</div>
		<p>
			I played a vital role in developing five modules in Procim, a highly secure project management tool. These
			modules included managing expenses, selecting items, setting up workflows, integrating Workhub, and
			configuring mandatory
			profiles, all designed with strong security measures.
		</p>
		<div class="icons">
			<mat-card>
				<i class="fa fa-brands fa-js"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-angular"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-html5"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-css3-alt"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-sass"></i>
			</mat-card>
			<mat-card>
				<i class="fa-solid fa-laptop-code"></i>
			</mat-card>
		</div>
	</mat-card>
	<mat-card>
		<div>
			<span>Hyderabad Epilipse Center</span>
			<p>Sep 2023 - Nov 2023</p>
			<hr class="line" />
		</div>
		<p>
			I guided interns in creating the Hyderabad Epilepsy Center Hospital's website, helping them connect
			different parts of the site. We built a user-friendly platform for patients to get information, book
			appointments, and learn about epilepsy. This project improved patient engagement and was a great learning
			experience for the interns.
		</p>
		<div class="icons">
			<mat-card>
				<i class="fa fa-brands fa-js"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-angular"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-html5"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-css3-alt"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-sass"></i>
			</mat-card>
			<mat-card>
				<i class="fa-solid fa-laptop-code"></i>
			</mat-card>
		</div>
	</mat-card>
	<mat-card>
		<div>
			<span>Rama-Portfolio</span>
			<p>March 2024 - April 2024</p>
			<hr class="line" />
		</div>
		<p>
			I developed my front-end developer portfolio to showcase my skills and projects. It has a clean, responsive
			design built with HTML, CSS, JavaScript, and Angular. The portfolio includes project details, code samples,
			and interactive features. It effectively showcases my work and front-end development expertise.You can view
			the project on <a href="https://github.com/ramajonnada/rama-portfolio">GitHub.</a>
		</p>
		<a href="https://ramajonnada.github.io/rama-portfolio/">Portfolio Website</a>
		<div class="icons">
			<mat-card>
				<i class="fa fa-brands fa-js"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-angular"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-html5"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-css3-alt"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-sass"></i>
			</mat-card>
			<mat-card>
				<i class="fa-solid fa-laptop-code"></i>
			</mat-card>
		</div>
	</mat-card>
	<!-- <mat-card>
		<div>
			<span>Games</span>
			<p>June 2024</p>
			<hr class="line" />
		</div>
		<p>
			I am preparing to develop a series of interactive games using JavaScript, Data structures and algorithms
			(DSA), and React. This project will highlight my expertise in front-end development with a focus on
			responsive design and engaging gameplay mechanics. Stay tuned for more updates on this exciting project!
		</p>
		<div class="icons">
			<mat-card>
				<i class="fa fa-brands fa-js"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-html5"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-css3-alt"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-react"></i>
			</mat-card>
			<mat-card>
				<i class="fa-brands fa-sass"></i>
			</mat-card>
			<mat-card>
				<i class="fa-solid fa-laptop-code"></i>
			</mat-card>
		</div> 
	</mat-card>-->
</div>