@import '../../varibles.scss';

:host {
	display: block;
	text-align: center;

	mat-card {
		background-color: $peach;
		padding: 24px;
		align-items: center;
		display: flex;
		gap: 16px;

		mat-card {
			background-color: $black;
			color: $white;
		}
	}
}