<mat-drawer-container class="example-container" [hasBackdrop]="true">
	<mat-drawer position="end" #drawer [mode]="'over'">
		<ul class="nav-links" (click)="drawer.close()">
			<li><a routerLink="projects">Projects</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#skills">Skills</a></li>
			<li><a href="#experience">Experience</a></li>
			<a href="#contact"><button mat-flat-button>Contact Me</button></a>
		</ul>
	</mat-drawer>
	<app-toolbar class="toolbar" (openSidebar)="drawer.toggle()"></app-toolbar>
	<router-outlet></router-outlet>
	<!-- <img src="black-image.png" alt="black-image" class="black-bg"> -->
	<app-footer class="align footer" id="contact"></app-footer>
</mat-drawer-container>