@import '../../src/varibles.scss';

:host {

	mat-drawer {
		width: 100%;
	}

	.nav-links {
		list-style-type: none;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		a {
			text-decoration: none;
			color: $black;
		}
	}

	.mat-drawer.mat-drawer-end {
		position: fixed;
		overflow: auto;
	}
}