@import '../../src/varibles.scss';

:host {
	
	mat-drawer {
		width: 80%;
		padding: 16px;

		li {
			height: 48px;
			line-height: 48px;
			font-weight: bold;
		}

		button {
			background-color: $peach;
			color: $black;
		}
	}

	.nav-links {
		list-style-type: none;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		a {
			text-decoration: none;
			color: $black;
		}
	}

	.mat-drawer.mat-drawer-end {
		position: fixed;
		overflow: auto;
	}
}