@import "../../varibles.scss";

:host {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.paragraph-container {
		display: flex;
		gap: 16px;

		.paragraph-content {
			>* {
				margin-bottom: 16px;
			}
		}

		p {
			font-size: $paragraph-font-size;
		}
	}
}