<app-heading [heading]="'ABOUT ME'"></app-heading>
<div class="paragraph-container">
	<img class="about-image" src="rama-emoji-bg.png" alt="" />
	<span class="paragraph-content">
		<p>
			Hi there !
			My name is rama jonnada and i'm 27 years old ambitious and Experience Front-end developer. Now I'm looking for a
			new position and new challenges.
		</p>
		<p>My goal is to learn something new every day, improve my skills and solve users and business issues. I can
			quickly analyze problems and solve them both independently and ina team.
		</p>
	</span>
</div>