@import "../../varibles.scss";

:host {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.paragraph-container {
		display: flex;
		gap: 16px;

		.about-image {
			width: 300px;
		}

		.paragraph-content {
			text-align: justify;

			>* {
				margin-top: 16px;
			}
		}

		p {
			font-size: $paragraph-font-size;
		}
	}
}