<app-heading [heading]="'ABOUT ME'"></app-heading>
<div class="paragraph-container">
	<img class="about-image" src="rama-emoji-bg.png" alt="" />
	<span class="paragraph-content">
		<p>
			Hi there ! My name is <b>Rama Jonnada</b> and I'm an ambitious and experienced Front-end developer.
		</p>
		<p>
			I started my coding journey by creating simple games like Minesweeper and 2048.
			These early projects sparked my interest in coding and problem-solving. Over the years,
			I have gained experience in web development, front-end development and also integrating RESTful APIs
			which allowed me to build websites and applications that look great and work perfectly on any device.
		</p>
		<p>
			My goal is to learn something new every day, improve my skills and
			solve users and business issues. I can quickly analyze problems and solve them both
			independently and in a team. Now I'm looking for a new position and new challenges.
		</p>
	</span>
</div>