@import "../../varibles.scss";

:host {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.paragraph-container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.about-image {
			width: 300px;
		}

		.paragraph-content {
			min-width:300px;
			max-width:500px;
			text-align: justify;

			>* {
				margin-top: 16px;
			}
		}

		p {
			font-size: $paragraph-font-size;
		}
	}
}