<app-heading [heading]="'SKILLS'"></app-heading>
<app-square-dots class="square-dots" [showleft]="true"></app-square-dots>
<mat-card class="techs" *ngFor="let tech of technologies">
	<span class="tech-name">{{tech.main}}</span>
	<div class="tech-skills">
		<div class="tech" *ngFor="let skill of tech.skills">
			<div class="skill">
				<div class="skill-card-inner" *ngIf="skill.number">
					<div class="flip-card-front">
						<ng-container *ngIf="skill.logo">
							<i [class]="skill.logo"></i>
						</ng-container>
						<ng-container *ngIf="skill.image">
							<img [src]="skill.image" />
						</ng-container>
						<span class="skill-name">{{skill.name}}</span>
					</div>
					<div class="flip-card-back">
						<span>{{skill.number}}%</span>
					</div>
				</div>
				<div class="skill-card" *ngIf="!skill.number && skill.logo">
					<i [class]="skill.logo"></i>
					<span class="skill-name">{{skill.name}}</span>
				</div>
				<div class="name skill-card" *ngIf="!skill.logo&& !skill.image && !skill.number">
					<span>{{skill.name}}</span>
				</div>
			</div>
		</div>
	</div>
</mat-card>
<app-square-dots class="square-dots" [showRight]="true"></app-square-dots>