@import "../../varibles.scss";

:host {
	display: block;
	width: 100%;

	.techs {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $peach;
		padding: 20px;
		gap: 24px;
		margin-top: 48px;
		color: $white;

		.tech {
			font-weight: bold;
			color: $black;
		}

		.tech-name{
			color:$black;
			font-weight: bold;
		}

		.tech-skills {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 32px;
		}

		.skill {
			width: 80px;
			height: 80px;
			background-color: transparent;
			color: $black;

			.flip-card-front {
				background-color: black;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 6px;
				color: $peach;
			}

			.skill-name {
				font-size: 10px;
				line-height: 10px;
				text-align: center;
				color: $white;
			}

			i {
				font-size: 24px;
				color: $peach;
			}

			.skill-card-inner {
				border-radius: 8px;
				position: relative;
				width: 100%;
				height: 100%;
				transition: transform 0.6s;
				transform-style: preserve-3d;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			}

			.flip-card-front,
			.flip-card-back {
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				border-radius: 8px;
			}

			.flip-card-back {
				background-color: $black;
				color: $peach;
				text-align: center;
				transform: rotateY(180deg);

				span {
					font-size: 24px;
					line-height: 80px;
				}
			}
		}

		.name {
			color: $white;
			line-height: 16px;
			text-align: center;
			font-size: 10px;
			padding: 8px;
		}
	}

	.skill:hover .skill-card-inner {
		transform: rotateY(180deg);
	}

	.skill-card {
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 6px;
		height: 100%;
		border-radius: 8px;
		color: $peach;
	}
}