@import "../../varibles.scss";

:host {
	display: flex;
	background-color: $color-gray2;
	align-items: center;
	min-height: 500px;

	.intro {
		color: $font-color;

		.hello {
			font-family: 'Allura';
			font-size: 40px;
			height: 32px;
			display: inline-block;
			font-weight: bold;
		}

		.fed {
			font-weight: bold;
		}

		.name {
			font-size: 32px;
			font-weight: bold;
			line-height: 32px;
		}

		.content {
			margin-top: 16px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			font-size: 12px;

			p {
				font-family: "Poppins";
			}
		}
		button{
			color: $font-color;
			margin-top:16px;
		}
	}
}