<div class="intro">
	<div class="hello">Hello I'm</div>
	<div class="name">Rama Jonnada</div>
	<p class="fed">FRONT-END DEVELOPER</p>
	<div class="content">
		<p>
			Hi there !
			My name is rama jonnada and i'm 27 years old ambitious junior front-end developer. Now I'm looking for a
			new position and new challenges.
		</p>
		<p>My goal is to learn somthing new every day, improve my skills and solve users and business issues. I can
			quickly analyze problems and solve them both independently and ina team.
		</p>
	</div>
	<button mat-stroked-button>Contact Me</button>
</div>
<div class="image">
	<img src="" alt="">
</div>