@import "../../varibles.scss";

:host {
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: $black;
	color: $white;
	font-weight: bold;
	text-align: left;

	.hello {
		font-family: 'Allura';
		font-size: 40px;
		height: 32px;
		color: $peach;
	}

	.name {
		font-size: 40px;
	}

	.intro {
		width:100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			width: 300px;
		}
	}

	button {
		color: $black;
		background-color: $peach;
		margin-top: 16px;
		width: 200px;
		height: 64px;
	}

	i:hover {
		font-size: 48px;
		// TODO need transition
	}
}