// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import "./varibles.scss";
// Define the theme object.
$potfoilio-theme: mat.define-theme((color: (theme-type: light,
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette,
			),
			density: (scale: 0,
			)));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
	@include mat.all-component-themes($potfoilio-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($potfoilio-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($potfoilio-theme);
/* You can add global styles to this file, and also import other style files */

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "Poppins";
}

html {
	scrollbar-width: 10px;
	scroll-behavior: smooth;
}

body {
	height: 100%;
}

p,
ul {
	line-height: 24px;
}

@media screen and (width < 800px) {

	.paragraph-container {
		flex-direction: column-reverse;
		text-align: center;

		.about-image {
			height: 448px !important;
		}
	}
}

@media screen and (width > 1000px) {
	app-root {
		max-width: 1000px;
		margin: 0 auto;
	}
}




// desktop version
@media screen and (width > 680px) {

	.home {
		padding: 64px 100px 32px 100px;
		text-align: left;

		.icons {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
			gap: 16px;

			i {
				font-size: 32px;
				color: $white;
			}
		}
	}

	.about-image {
		width: 320px;
	}

	.toolbar {
		padding: 0 100px 0 100px;

		i {
			display: none;
		}

		.nav-links {
			display: block;
		}
	}

	.align {
		padding: 64px 100px 16px 100px;
	}
}

// mobile version
@media screen and (width <=680px) {
	$paragraph-font-size: 10px;

	.home {
		padding: 8px 16px 16px 16px;
		text-align: center;

		.icons {
			display: none;

			i {
				font-size: 24px;
			}
		}
	}

	.toolbar {
		padding: 0 16px 0 16px;

		i {
			display: block;
		}

		.nav-links {
			display: none;
		}
	}

	.align {
		padding: 64px 24px 24px 32px;
	}

	.footer-container {
		flex-direction: column;
	}
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}