<div class="footer-container">
	<div class="left">
		<h5>LET'S CONNECT</h5>
		<div class="info">
			<i class="f-icons circle fa-solid fa-envelope"></i>
			rama.jonnada23&#64;gmail.com
		</div>
		<div class="info">
			<i class="f-icons circle fa-solid fa-phone"></i>
			+91-7032765654
		</div>

	</div>
	<form [formGroup]="formGroup" (submit)="$$submit($event)">
		<input type="text" formControlName="name" placeholder="Your Name" name="name" />
		<input type="email" formControlName="mail" placeholder name="mail" placeholder="Your Mail" />
		<textarea type="text" formControlName="message" name="message" placeholder="Enter Message"></textarea>
		<input class="button" [disabled]="formGroup.invalid" type="submit" />
	</form>
</div>
<hr class="line" />
<div class="end">
	<span>&#169; {{year}} RamaJonnada</span>
	<!-- <span>
		<span>&#123;</span>
		<span>RAMA JONNADA</span>
		<span>&#125;</span>
	</span> -->
	<div class="social-icons">
		<a href="https://github.com/ramajonnada">
			<i class="fa-brands fa-square-github"></i>
		</a>
		<a href="https://www.linkedin.com/in/ramajonnada/">
			<i class="fa fa-brands fa-linkedin"></i>
		</a>
		<a href="https://www.instagram.com/ramajonnada23/">
			<i class="fa-brands fa-square-instagram"></i>
		</a>
	</div>
</div>

<!-- Have a question or want to work together? -->