@import "../../varibles.scss";

:host {
	display: flex;
	flex-direction: column;
	gap:24px;
	background-color: $black;
	color: $white;
	margin-top: 48px;

	.footer-container {
		display: flex;
		gap: 32px;
		justify-content: space-between;

		.left {
			width:300px;
			>*{
				margin-bottom: 24px;
			}
			h5 {
				font-size: 24px;
			}

			.info {
				display: flex;
				gap: 16px;
				align-items: center;

				.f-icons {
					font-size: 16px;
					color: $peach;
				}
			}
		}

		form {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			align-items: end;

			input {
				border-radius: 8px;
				padding: 8px;
				border-color: $peach;
				height: 48px;
				min-width: 300px;
				width: 100%;
				margin-bottom: 16px;
			}
			.button{
				background-color: $peach;
			}
		}
	}

	.end {
		display: flex;
		justify-content: space-between;
	}

	.social-icons {
		display: flex;
		gap: 16px;

		i {
			font-size: 24px;
		}
	}
}