<div class="footer-container">
	<div>
		<h5>LET'S CONNECT</h5>
		<div class="info">
			<i class="f-icons circle fa-solid fa-envelope"></i>
			rama.jonnada23&#64;gmail.com
		</div>
		<div class="info">
			<i class="f-icons circle fa-solid fa-phone"></i>
			+91-7032765654
		</div>
		<div class="social-icons">
			<i class="fa fa-brands fa-linkedin"></i>
			<i class="fa-brands fa-square-instagram"></i>
			<i class="fa-brands fa-square-x-twitter"></i>
		</div>
	</div>
	<form action="">
		<input type="text" placeholder="Your Name" />
		<input type="text" placeholder="Your Mail" />
		<input type="text">
		<input class="button" type="submit" />
	</form>
</div>
<hr class="line" />
<div class="end">
	<span>&#64;copyrights</span>
	<span>made by rama jonnada</span>
</div>