@import "../../varibles.scss";

:host {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	height: 64px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $black;
	background-color: $white;
	width: 100%;
	font-size: 16px;
	position: fixed;
	z-index: 20;

	.icon {
		font-size: 24px;
		color: $black;
		line-height: 48px;
	}

	li {
		display: inline-block;
		margin-left: 32px;
		font-size: 12px;
	}

	li:hover{
		border-bottom: 2px solid $peach;
	}

	a {
		text-decoration: none;
		color: $black;

	}

	button {
		background-color: $black;
		margin-left: 16px;
	}
}