@import "../../varibles.scss";
:host {
	height: 64px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color:$black;
	background-color: $white;
	width:100%;
	font-size: 16px;
	position: fixed;

	.icon{
		font-size: 24px;
		color:$black;
		line-height: 48px;
	}
	li{
		display: inline-block;
		margin-left: 16px;
		font-size: 12px;
	}
	a{
		text-decoration: none;
		color:$black;
	}
	button {
		color: $white;
		background-color: $peach;
		margin-left: 16px;
	}
}


